@using WorldData.Models;
<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <title>To Do List</title>
  <link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css'>
  <link rel='stylesheet' href='~/css/styles.css' type="text/css">
</head>
<body>
  <div class="container">
    <div class="jumbotron">
      <h1>List of cities</h1>
    </div>
    <ul>
    @if (Model.Count == 0)
    {
      <p>You have no cities in your to do list!</p>
    }
    @if(Model.Count != 0)
    {
      <h4>Names of cities</h4>
      @foreach (City city in Model)
      {
        <li>Name: @city.GetCityName()</li>
        <li>Population: @city.GetCityPopulation()</li><br>
      }
    }
    </ul>
  </div>
</body>
</html>
