<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <title>To Do List</title>
  <link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css'>
  <link rel='stylesheet' href='~/css/styles.css' type="text/css">
</head>
<body>
  <div class="container">
    <div class="jumbotron">
      <h1>To Do List</h1>
      <em>You can add a new city to the <strong>@Model.GetName()</strong> country here.</em>
    </div>
    <form action='/categories/@Model.GetId()/cities' method='post'>
      <input id='countryId' name='countryId' type='hidden' value='@Model.GetId()'>
      <label for='cityDescription'>To do city:</label>
      <input id='cityDescription' name='cityDescription' type='text'>
      <button type='submit' class="btn btn-dark">Add city</button>
    </form>
  </div>
</body>
</html>
