<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <title>To Do List</title>
  <link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css'>
  <link rel='stylesheet' href='~/css/styles.css' type="text/css">
</head>
<body>
  <div class="container">
    <div class="jumbotron">
      <h1>To Do List</h1>
      <em>You can find more details about the to do city here.</em>
    </div>
    <h3>@Model["city"].GetDescription()</h3>
    <h3>Country: @Model["country"].GetName()</h3>
    <a href="/countries/@Model["country"].GetId()/cities/new" class="btn btn-dark">Add another city</a>
    <a href="/countries" class="btn btn-dark">View all countries</a>
  </div>
</body>
</html>
