<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <title>To Do List</title>
  <link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css'>
  <link rel='stylesheet' href='~/css/styles.css' type="text/css">
</head>
<body>
  <div class="container">
    <div class="jumbotron">
      <h1>List of Countries in the world</h1>
      <em>Pick a country to see its cities</em>
    </div>
    <ul>
    @if (Model.Count == 0)
    {
      <p>No countries have been added yet!</p>
    }
    @if(Model.Count != 0)
    {
      @foreach (var country in Model)
      {
        <li>@country.CountryName</li>
        <li>Population: @country.CountryPopulation</li>
        <li>Life Expectancy: @country.CountryExpectancy</li>
        <li><a href="/countries/@country.CountryCode" class="btn btn-dark">More Info</a></li><br>

      }
    }
    </ul>
    <a href="/" class="btn btn-dark">Back to homepage</a>
  </div>
</body>
</html>
