<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <title>To Do List</title>
  <link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css'>
  <link rel='stylesheet' href='~/css/styles.css' type="text/css">
</head>
<body>
  <div class="container">
    <div class="jumbotron">
      <h1>To Do List</h1>
      <em>You can see all to do cities in this country here.</em>
    </div>
    <ol>
    @if (Model.Count == 0)
    {
      <p>No cities have been added yet!</p>
    }
    @if(Model.Count != 0)
    {
      @foreach (var city in @Model["cities"])
      {
        <li><a href="/countries/@Model["country"].GetId()/cities/@city.GetId()" class="btn btn-dark">@city.GetDescription()</a></li>
      }
    }
    </ol>
    <a href="/countries/@Model["country"].GetId()/cities/new" class="btn btn-dark">Add a new city</a><br><br>
    <a href="/countries" class="btn btn-dark">Return to country list</a>
    <a href="/" class="btn btn-dark">Return to homepage</a>
  </div>
</body>
</html>
